* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: aliceblue;
    min-height: 100vh;
  }
  
  .cardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  
  .movieCard {
    box-shadow: 0 5px 20px black;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    justify-self: center;
    background-color:blanchedalmond;
    border-radius: 2%;
    cursor: pointer;
    user-select: none;
  }
  
  .movieImg {
    width: 100%;
    border-radius: 2%;
  }
  
  header {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  
  .search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border-bottom: 1px solid black;
  }
  
  .search label{
    font-size: 2em;
  }
  
  .search input {
    margin-left: 1rem;
    min-width: 15em;
    padding: 1%;
  }
  
  .search button {
    margin-left: 1em;
    min-width: 4em;
  }
  
  h3 {
    margin :1rem 0 1rem 0;
  }
  